body{
	background-color: Beige;
	color: Black;
	text-align: center;
	padding: 20px;
}
    
input{
	width: 200px;
	float: right;
	margin-right: 50%;
	padding: 5px;
}

p{	
	margin-left: 35%;
	text-align: left;
}

input[type=date]{
	padding-top: 3px;
	padding-bottom: 3px;
}

input[type=submit] {

	text-align: center;

}
