* { color: Brown; background-color: Beige; }
a { text-decoration: none; }

h1 { width: 100%; margin-left:0; border: 1px solid black; text-align:center; }

body{
	background-color: Beige;
	color: Brown; 
	text-align: center;
}
section{
	border: 1px solid Black;
	margin-top: 50px;
	margin-right: 25%;
	margin-left: 25%;
	text-align: center;
	width:50%;
	height: 100%;
	float:left;
	margin-bottom: 10%;
} 

input{
	width: 200px;
	float: right;
	margin-right: 20%;
	border: 1px solid Black;
	padding:3px; 
}
input[type=date] {
	padding-top: 2px;
	padding-bottom: 2px;
}
input[type=submit] {
	clear: both;
	font-size: 15px;
	margin:0;
	width: 100%;
	text-align: center;
	border: 0;
}

p { margin-left: 20%; text-align: left; }

footer{
	padding-bottom: 50px;
	float: bottom;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 800px;
	height: 100px; 
	width: 100%;
	text-align: center;
	background-color: Brown;
	color: Beige;
	font-variant: small-caps;
	border: 1px solid Black;
}